# SSH user/host configuration
server 'testing.example.com', user: 'archie', roles: %w{app db web}

# Magento environment
set :mage_env, 'testing'

# Destination directory
set :deploy_to, '/absolute/path/to/deploy/directory'

# If these binaries are not in your $PATH, you may remap their locations here.
# Otherwise, you may safely omit these configuration directives.
#SSHKit.config.command_map[:php] = "/usr/bin/php"
#SSHKit.config.command_map[:composer] = "/usr/local/bin/composer"
#SSHKit.config.command_map[:modman] = "/usr/local/bin/modman"
#SSHKit.config.command_map[:'n98-magerun'] = "/usr/local/bin/n98-magerun"

# You can override composer defaults by setting the variables shown below.
# Note: Certain modules may not work properly with the --optimize-autoloader flag (on by default)
#set :composer_install_flags, '--no-dev --no-interaction --quiet --optimize-autoloader'
#set :composer_roles, :all

# Magento release directories are large! Only save the most recent release.
set :keep_releases, 1
